
.authority-title{
    font-size: 16px;
    font-weight: 600;
}
.btn-wrap{
    position: absolute;
    right: 16px;
}
.edit-line{
    margin-top: 15px;
}
.edit-line span{
    width: 5em;
    text-align: right;
    vertical-align: middle;
    line-height: 32px;
}
.edit-line input,.edit-line authority-list{
    width: calc(100% - 5em);
    flex: 1;
}
.dispaly_flex{
    display: flex;
}

.authorityTable{
    width: 100%;
    overflow-x: auto;
}
.authorityTable .w_180{
    min-width: 180px;
}
.authorityTable .w_120{
    min-width: 120px;
}
.authorityTable .w_100{
    min-width: 100px;
}
.authorityTable .w_80{
    min-width: 80px;
}
.authorityTable .w_60{
    min-width: 60px;
}
.authorityTable .w_40{
    min-width: 40px;
}
.authorityModel .ant-modal-body{
    padding: 24px;
}