.form_item{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.item_title{
    width: 100px;
    text-align: right;
    font-size: 16px;
    color: #454545;
}
.item_content{
    flex: 1;
    padding-left: 24px;
    display: flex;
    align-items: center;
}
.page_title{
    font-size:24px;
    font-weight: 600; 
}
.create_anthor_Page{
    padding: 24px 0 0 48px;
}
.red_color{
    margin-right: 6px;
    /* font-size: 24px; */

    color: #ff552e;
}
.w_300{
    width: 300px;
}
.sc_btn{
    position: relative;
}

.anthor_touxaing{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.2);
    margin-right: 24px;
    overflow: hidden;
}
.anthor_touxaing img{
    width: 100%;
    height: 100%;
}

.anthor_qrCode{
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0,0,0,.2);
    margin-right: 24px;
    overflow: hidden;
}
.anthor_qrCode img{
    width: 100%;
    height: 100%;
}

.hidden_input{
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 99;
    opacity: 0;
}
.m_r_24{
    margin-right: 24px;
}