.appPage{
    padding-bottom: 100px;
}
.flex_hc{
    display: flex;
    align-items: center;
}
.color_red{
    color: #ff552e;
    font-weight: 600;
}
.edit_header{
    margin-bottom: 30px;
}

.edit_title{
    font-weight: 400;
    width: 500px;
    color: #000000;
    font-size: 18px;
    margin-top: 2px;
}
.hx_box{
    position: relative;
    width: 600px;
}
.hx_box_num{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 30px;
    z-index: 999;
    text-align: center;
}
.hx_box_num.color_red{
    color: #ff552e;
}
.bq_list_item{
    height: 34px;
    padding:0 12px;
    text-align: center;
    line-height: 34px;
    border: 1px solid rgba(0,0,0,0.2);
    margin-right: 12px;
    /* float: left; */
    border-radius: 4px;
}

.hxText{
    width: 600px;
    /* height: 100px; */
}
.margin_b_12{
    margin: 0 0 12px 0;
}
.color_hui{
    color: rgba(0,0,0,0.6)
}
.w_300{
    width: 300px;
}
.fmt_container{
    margin-top: 24px;
}
.edit_title{
    font-weight: 600;
    color: #333333;
    margin: 24px 0 12px;
    font-size: 14px;
}

.fmt_container_tips{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    line-height: 40px;
    margin-top: 30px;
}
.hxgd_container{

}
.addBq_container{
    width: 100%;
}
.bq_list{
    height: 100px;
    display: flex;
}
.submit_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.font_color_grid{
    color: rgba(0,0,0,0.3);
}
.img_add_box{
    width: 200px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 24px;
    color: #1890ff;
    border: 1px solid #1890ff;
    border-radius: 2px;
    cursor:pointer;

}
.img_list_container{
    width: 100%;
    height: 400px;
    border: 1px solid rgba(0,0,0,0.2);
    overflow-x: auto;
    position: relative;
}
.toast_img_box{
    width: 320px;
    height: 240px;
    margin-right: 24px;
    float: left;
    border: 1px solid rgba(0,0,0,0.2);
}
.toast_img_box.checked{
    border: 4px solid #1890ff;
}
.toast_img_box img{
    width: 100%;

}
.img_modal{
    width: 900px!important;
}
.img_scroll_box{
    width: 2000px;
    /* height: 100%; */
    padding-top: 40px;
    padding-left: 24px;
}
/* .toast_img_box{
    width: 200px;
    height: 150px;
} */
.bottom_btn_list{
    /* position: absolute; */
    /* bottom: 0;
    left: 0; */
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}