.bannerModal{

}
.tabWrapper{
  padding-top: 10px;
}
.item_title_2{
  width: 80px;
}
.item_title_1{
  width: 80px;
}
.ant-calendar-picker{
  width: 100%;
}
.ad_anthor_touxaing{
  width: 105px;
  height: 84px;
}